.editable-cell {
    position: relative;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}

.editable-row .ant-form-explain {
    position: absolute;
    font-size: 12px;
    margin-top: -4px;
}

.ant-table-thead tr th {
    background-color: rgba(50, 197, 210, 1) !important;
    color: rgba(240, 240, 240, 1) !important;
    text-shadow: 1px 1px rgba(30, 30, 30, 0.4);
    font-weight: bold !important;
}

.ant-pagination-item-active,
.ant-pagination-item-active a,
.ant-pagination-item a:hover,
.ant-pagination-item:hover {
    border-color: rgba(176, 31, 95, 1) !important;
    color: rgba(176, 31, 95, 1) !important;
}

.ant-btn-primary,
.ant-tag-checkable-checked {
    background-color: rgba(176, 31, 95, 1) !important;
    border-style: none !important;
    box-shadow: 1px 1px 4px rgba(20, 20, 20, 0.6) !important;
}

.ant-btn-primary:hover {
    box-shadow: 1px 1px 8px rgba(20, 20, 20, 1) !important;
}

.ant-tag {
    margin: 4px 8px 4px 0 !important;
}

.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
    color: rgba(176, 31, 95, 1) !important;
}

.ant-table-column-sorter-up.on,
.ant-table-column-sorter-down.on {
    color: rgba(255, 255, 255, 1) !important;
}

.ant-table-column-sorter-up.off,
.ant-table-column-sorter-down.off {
    color: rgba(255, 255, 255, 0.4) !important;
}

.ant-drawer {
    z-index: 16777200 !important;
}

.ant-btn-dashed {
    border-color: rgba(176, 31, 95, 1) !important;
}

.ant-btn-dashed:hover {
    color: rgba(176, 31, 95, 1) !important;
}

.ant-modal-content {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.ant-form-item-required {
    color: white !important;
}

.ant-modal {
    max-width: 300px !important;
}

.ant-modal-body {
    padding-bottom: 0 !important;
}

.ant-modal-footer {
    border-top-style: none !important;
}

.ant-form-item {
    margin-bottom: 0 !important;
}

.ant-table-pagination {
    float: none !important;
    display: flex !important;
    justify-content: center !important;
}

.ant-table-body {
    overflow-x: hidden;
}

.ant-table-body::-webkit-scrollbar {
    width: 2px;
}
  
/* Track */
.ant-table-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(230, 230, 230);
}

/* Handle */
.ant-table-body::-webkit-scrollbar-thumb {
    background: rgba(50, 197, 210, 1);
}

/* Handle on hover */
.ant-table-body::-webkit-scrollbar-thumb:hover {
    background:rgba(50, 197, 210, 0.5); 
}

.th_customize_class {
    background-color: white !important;
    color: grey !important;
}